﻿@model MvcNhibernate.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Информация о сотруднике</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronamyc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronamyc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
